.DeleteFile {
}

.DeleteFileSpinner{
  width: 1rem !important;
  height: 1rem !important;
  margin: 0 auto;
}

.DeleteFileItemGroup{
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}