.h1-title-admin{
  font-family: "arial-black";
  font-size: 20px;
}

.admin-container{
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: scroll;
}

.admin-container::-webkit-scrollbar {
	width: 5px;
  background-color: #313131;
}

.admin-container::-webkit-scrollbar-track {
	border-radius: 0px;
}

.admin-container::-webkit-scrollbar-thumb {
	background: rgb(255 255 255 / 30%);
	border-radius: 5px;
}

.admin-container::-webkit-scrollbar-thumb:hover {
	background: rgb(255 255 255 / 30%);
	border-radius: 5px;
}

.admin-container::-webkit-scrollbar-corner {
  display: none;
}


.admin-container > thead {
  vertical-align: bottom;
  font-size: 12px;
}

.table > td {
  vertical-align: middle;
  font-size: 12px;
}

.table-responsive-xl {
	overflow-x: scroll
}

.icon-admin{
  font-size: 25px;
}

.icon-admin:hover{
  color: rgba(255, 255, 255, 0.7);
}

.admin-table-id{
  text-align: left;
  color: #313131 !important;
  border-color: rgb(0 0 0 / 40%) !important;
}

.table-responsive{
  position: relative;
  max-height: 700px;
  min-height: 300px;
}

tr:hover{
  cursor: pointer;
}

tbody > tr:hover > td {
  background-color: unset !important;
  color: unset !important;
}

.center{
  text-align: center;
}

.table > thead {
  position: sticky !important;
  top: -1px;
  background-color: #909090;
  border-color: var(--bs-primary);
}

.table > tbody {
  border-color: var(--bs-primary);
}

.ascending-icon{
  float: right;
  width: 15px;
  height: 21px;
}

.spinner-container{
  width: 100%;
  text-align: center;
}

.spinner{
  background-color: var(--bs-primary) !important;
}

.bar-wrapper{
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.select-search{
  max-width: 150px;
  font-weight: 700 !important;
}

.no-data-empty{
  position: absolute;
  left: 50%;
  top: 100px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: var(--bs-primary) !important;
  font-weight: 900 !important;
  background-color: #ef8482 !important;
  border-color: #ef8482 !important;
}

.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  width: 100%;
  font-weight: 600;
}

.nav-link {
  background-color: #b9b9b9 !important;
}

.mr-10{
  margin-right: 10px;
}

.export-excel{
  background-color: var(--bs-green);
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.refreshTable{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 10px !important;
}