@font-face {
  font-family: 'arial-black';
  src: local('arial-black'), url('../styles/fonts/arial-black.woff') format('truetype');
  font-weight: bold;
}

#root {
  max-height: 100vh;
  overflow: hidden;
}
