@font-face {
  font-family: 'arial-black';
  src: local('arial-black'),
    url('../styles/fonts/arial-black.woff') format('truetype');
  font-weight: bold;
}

body {
  overflow: hidden;
  font-family: 'arial-black';
}

.index {
  overflow: scroll;
  height: 100vh;
}

h1,
h2,
h3 {
  color: #313131;
}

label {
  color: #313131;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

.app-container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.card-main::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.h1-title-span {
  font-family: "arial-black";
  font-size: 20px;
  margin-bottom: 0px
}

.slick-slider {
  width: 100%;
}

.cursor {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.flex-gap-button-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700 !important;
}

.mr-5p {
  margin-right: 5px;
}

.mr-10p {
  margin-right: 10px;
}

#root {
  height: 100vh;
}

@media (max-width: 500px) {
  .h1-title-span {
    font-family: "arial-black";
    font-size: 16px;
    margin-bottom: 0px
  }
}