@font-face {
  font-family: 'arial-black';
  src: local('arial-black'), url('../styles/fonts/arial-black.woff') format('truetype');
  font-weight: bold;
}

#root {
  height: 100vh;
}

.AppContainer {
  flex: 1;
  height: 100vh;
}
