.category-overlay-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-overlay-section {
  width: 100%;
  background-color: white;
  padding: 25px;
  position: relative;
}

.close-overlay-category {
  color: rgb(236 98 95 / 80%);
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.title-new-category {
  font-family: "arial-black";
}

.buttons-container {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  margin-top: 25px;
}