.article-section {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.overlay-article-container-item-page {
  background-color: white;
  overflow: scroll;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.overlay-article-container-item-page::-webkit-scrollbar,
.overlay-article-container::-webkit-scrollbar {
  display: none;
}

.overlay-article-wrapper-item {
  max-width: 650px;
  width: 100%;
  height: max-content;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 50px;
}

.link-copy-wrapper {
  position: absolute;
  bottom: -50px;
  right: 15px;
  z-index: 1;
  color: rgb(82 82 82);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copy-link-warpper-cop {
  display: flex;
  flex-direction: column;
  position: relative;
}

.links-copy-constainer {
  gap: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.copy-link-text {
  top: 25px;
  font-size: 6px;
  position: absolute;
  font-weight: 900;
}

.copy-svg {
  width: 35px;
}

.form-check-st {
  width: 100px;
  text-align: left;
  padding-top: 15px;
}

.article-w-800{
  font-weight: 800;
}

.pill-wrapper {
  border: 1px solid rgb(122 130 136 / 50%);
  padding: 2px 10px;
  border-radius: 5px;
}

.article-pill-wrapper{
  display: flex;
  gap: 5px;
}

.img-card-article-overlay {
  display: block;
  max-width: 100%;
  max-height: 580px;
  width: auto !important;
  height: auto;
}

.details-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.copy-link-url {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid black;
  padding: 2px 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(0 0 0 / 30%);
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.color-copy {
  color: var(--bs-primary);
}

.color-copy-active {
  color: #ef8482;
}

.copy-link-url-active {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid black;
  padding: 2px 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(0 0 0 / 30%);
  color: white;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.article-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: flex-start;
  width: 100%;
}

.article-item-shared{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;
}

.article-item-price {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: flex-end;
  width: 100%;
  font-family: "arial-black";
  font-size: 16px;
  font-weight: 900;
  text-align: right;
}

.article-not-exist {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--bs-primary);
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.txt-article-not-exist {
  font-weight: 600;
}

.btn-go-home {
  font-weight: 900;
  color: #ef8482;
}

@media (max-width: 812px) {
  .img-card-article-overlay {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
  }

}

@media (max-width: 650px) {
  .overlay-article-wrapper-item {
    max-width: 650px;
    width: 100%;
    border: 0px;
    height: max-content;
    margin-bottom: 100px;
    border-radius: 5px;
  }

}