.modal-admin{
  max-height: 95vh !important;
}

.form-new-product{
  padding: 25px;
}

.product-overlay-section{
  max-width: 450px;
  max-height: 90vh;
  width: 100%;
  background-color: white;
  padding-bottom: 25px;
  position: relative;
  overflow: scroll;
}

.item-group{
 background-color: rgb(107 182 107 / 30%) !important;
 text-align: right;
}

.delete-item-group{
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

@media (max-width: 812px) { 
  .product-overlay-section{
    max-width: 400px;
    max-height: 70vh;
    width: 100%;
    background-color: white;
    padding: 25px;
    position: relative;
    overflow: scroll;
  }
}
