.Home {
}

.HomeContainerIcons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: white;
  height: 40px;
}

.HomeFilterWrapper {
  position: absolute;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.HomeFilterContent {
  background-color: white !important;
  color: var(--bs-primary) !important;
  border: none !important;
  align-items: center;
  display: flex;
  justify-content: center;
}

.HomeRotate90{
   transform: rotate(90deg);
}

.HomeFilterSize {
   font-weight: 600;
   margin-left: 5px;
}

.HomeTitle {
   font-family: 'arial-black';
   font-size: 20px;
   margin-bottom: 0px;
   position: absolute;
   z-index: 0;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.HomeIconsWrapper {
  margin-right: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeModelIconShow {
   width: 25px;
   padding: 5px;
}

.HomeModelIconShowActive {
   width: 25px;
   padding: 5px;
   cursor: pointer;
}

@media (max-width: 500px) {
   .HomeTitle {
      font-size: 16px;
      margin-bottom: 0px;
   }
}
