.SliderCarousel {
  width: 100%;
}

.SliderCarouselNextArrow{
  cursor: pointer;
  position: absolute;
  color: rgba(239, 132, 130, 0.2);
  right: 10px;
  z-index: 1;
  width: 35px;
  height: 35px;
  top: 50%; 
}

.SliderCarouselNextArrow:hover{
  color: rgba(239, 132, 130, 0.5);
  transform: scale(2.1);
  transition: 1s;
}

.SliderCarouselPrevArrow{
  cursor: pointer;
  position: absolute;
  color: rgba(239, 132, 130, 0.2);
  left: 10px;
  z-index: 1;
  width: 35px;
  height: 35px;
  top: 50%; 
}

.SliderCarouselPrevArrow:hover{
  color: rgba(239, 132, 130, 0.5);
  transform: scale(2.1);
  transition: 1s;
}

