.Product {
   background-color: white;
   overflow: scroll;
   display: flex;
   justify-content: center;
   padding-top: 10px;
}

.Product::-webkit-scrollbar,
.overlay-article-container::-webkit-scrollbar {
   display: none;
}

.ProductOverlayWrapperItem {
   max-width: 650px;
   width: 100%;
   height: max-content;
   margin-bottom: 50px;
   border-radius: 10px;
   padding: 50px;
}

.ProductCardWpr1 {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   position: relative;
   background-color: white;
   height: 100%;
   width: 100%;
}

.ProductImgCardOverlay {
   display: block;
   max-width: 100%;
   max-height: 580px;
   width: auto !important;
   height: auto;
}

.ProductCardWpr2 {
   width: 100%;
   position: relative;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   font-family: sans-serif;
   font-weight: 800;
   color: #313131;
   text-align: left;
   padding: 35px 15px 35px 15px;
   background-color: white;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.ProductItem {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin-bottom: 20px;
   justify-content: flex-start;
   width: 100%;
}

.ProductLinksCopyContainer {
   gap: 15px;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.ProductCopyLinkWarpperCopy {
   display: flex;
   flex-direction: column;
   position: relative;
}

.ProductCopySvg {
   width: 35px;
}

.ProductCopySvgActive {
   width: 35px;
   color: #ef8482;
}

.ProductCopyLinkText {
   top: 25px;
   font-size: 6px;
   position: absolute;
   font-weight: 900;
   color: var(--bs-primary);
}

.ProductCopyLinkTextActive {
   top: 25px;
   font-size: 6px;
   position: absolute;
   font-weight: 900;
   color: #ef8482;
}

.ProductItemPrice {
   display: flex;
   align-items: center;
   flex-direction: row;
   margin-bottom: 20px;
   justify-content: flex-end;
   width: 100%;
   font-family: 'arial-black';
   font-size: 16px;
   font-weight: 900;
   text-align: right;
}

.ProductItem {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin-bottom: 20px;
   justify-content: flex-start;
   width: 100%;
   gap: 15px;
}

.ProductPillItemWrapper{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 15px;
}

.ProductPillItem {
   border: 1px solid rgb(122 130 136 / 50%);
   padding: 2px 10px;
   border-radius: 5px;
}

.ProductDetails {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.ProductDetailWrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.ProductNotExist {
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border: 2px solid var(--bs-primary);
   padding: 35px;
   display: flex;
   flex-direction: column;
}

.ProductNotExistText {
   font-weight: 600;
   margin-bottom: 20px;
}

.ProductBtnGoHome {
   font-weight: 900;
   color: #ef8482;
}

.ProductCopyLinkUrl {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid black;
  padding: 2px 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(0 0 0 / 30%);
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.ProductCopyLinkUrlActive {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid black;
  padding: 2px 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(0 0 0 / 30%);
  color: white;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media (max-width: 812px) {
   .ProductImgCardOverlay {
      display: block;
      max-width: 100%;
      width: auto;
      height: auto;
   }

   .ProductCardWpr2 {
      font-size: 12px;
   }
}

@media (max-width: 650px) {
   .ProductOverlayWrapperItem {
      max-width: 650px;
      width: 100%;
      border: 0px;
      margin-bottom: 100px;
      border-radius: 5px;
      height: 100vh;
      overflow: scroll;
   }
}
