
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #999;
$gray-600: #7A8288;
$gray-700: #52575C;
$gray-800: #3A3F44;
$gray-900: #272B30;
$black: rgb(49, 49, 49);
$blue: rgb(88, 146, 209);
$indigo: rgb(102, 16, 242);
$purple: rgb(111, 66, 193);
$pink: rgb(249, 105, 106);
$red: rgb(248, 83, 78);
$orange: rgb(253, 126, 20);
$yellow: rgb(231, 171, 88);
$green: rgb(107, 182, 107);
$teal: rgb(123, 156, 147);
$cyan: rgb(98, 172, 194);
$primary: $black;
$secondary: $pink;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-900;
$body-color: $black;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $white;
$navbar-dark-hover-color: $white;
$enable-shadows: true;
$enable-gradients: true;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$font-size-base: 0.9rem;
$table-hover-bg: rgba(247, 103, 103, 0.5);

@import "~bootstrap/scss/bootstrap";