.Admin {
   display: flex;
   flex-direction: column;
   padding: 20px 25px;
   overflow: auto;
}

.Admin::-webkit-scrollbar {
   width: 5px;
   background-color: #313131;
}

.Admin::-webkit-scrollbar-track {
   border-radius: 0px;
}

.Admin::-webkit-scrollbar-thumb {
   background: rgb(255 255 255 / 30%);
   border-radius: 5px;
}

.Admin::-webkit-scrollbar-thumb:hover {
   background: rgb(255 255 255 / 30%);
   border-radius: 5px;
}

.Admin::-webkit-scrollbar-corner {
   display: none;
}

.Admin > thead {
   vertical-align: bottom;
   font-size: 12px;
}

.Admin > thead {
   vertical-align: bottom;
   font-size: 12px;
}

.AdminTitle {
   font-family: 'arial-black';
   font-size: 20px;
   margin-bottom: 25px;
   text-align: center;
}

.AdminTabs {
   gap: 15px;
   margin-bottom: 25px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
   color: var(--bs-primary) !important;
   font-weight: 900 !important;
   background-color: rgba(247, 103, 103, 0.6) !important;
   border-color: rgba(247, 103, 103, 0.6) !important;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
   width: 100%;
   font-weight: 600;
   background-color: rgba(49, 49, 49, 0.8);
   color: var(--bs-white);
}

.table > td {
   vertical-align: middle;
   font-size: 12px;
}

.table > thead {
   position: sticky !important;
   top: -1px;
   background-color: #909090;
   border-color: var(--bs-primary);
}

.table > tbody {
   border-color: var(--bs-primary);
}

.table-responsive {
   position: relative;
   max-height: 55vh;
   min-height: 300px;
}

tr:hover {
   cursor: pointer;
}

tbody > tr:hover > td {
   background-color: unset !important;
   color: unset !important;
}
